{
    "root": true,
    "extends": ["airbnb-typescript", "prettier", "plugin:prettier/recommended",
        "plugin:import/errors", 
        "plugin:import/warnings",
        "plugin:import/typescript",
        ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "plugins": ["react", "prettier", "react-hooks","@typescript-eslint"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "always-multiline"
            }
        ],
        "max-len": [0],
        "import/prefer-default-export": "off",
        "import/no-cycle": "off",
        "import/extensions": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-nested-ternary": "off",
        "jsx-a11y/label-has-for": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "react/prop-types": 0,
        "react/jsx-curly-brace-presence": [
            "error",
            { "props": "never", "children": "never" }
        ],
        "template-curly-spacing": "off",
        "linebreak-style": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "eslint-plugin-@typescript-eslint": "off",
        "react/require-default-props": "off",
        "import/no-default-export": "warn",
        "import/no-extraneous-dependencies": "off",
        "react/destructuring-assignment": [ 1, "always", { "ignoreClassFields": true }],
        "react/jsx-props-no-spreading": "warn",
        "react/jsx-max-props-per-line": [ 1, { "maximum": 2, "when": "multiline" }],
        "react-hooks/rules-of-hooks": "error",
        // "react-hooks/exhaustive-deps": "warn",
        "react/state-in-constructor": "off",
        "max-classes-per-file": "off",
        "no-restricted-syntax": "off",
        "@typescript-eslint/no-explicit-any": "error",
        // "@typescript-eslint/no-explicit-any": "warn",
        "import/order": "off",
        "@typescript-eslint/naming-convention": "warn",
        "prettier/prettier": ["error", { "endOfLine": "auto" }]
        // "jsx-quotes": [ "error", "prefer-single" ],
        // "object-curly-spacing": [ "error", "always" ]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}