@import "@variables/variables.scss";
@import "@mixins/mixins.scss";

.timerContainer {
  @include flex (wrap, flex-end, center, no-wrap);
  background: $bgColor2;
  padding: 5px;
  color:$textColor2;
  height: 30px;
  border: 1px solid #f3bfbf;
  border-radius: 5px;
  width: 100%;

.timer {
  @include flex (wrap, center, center, no-wrap);
  width: 100%;

  .icon {
  //  margin-left: 20px;
  }
}
}